.card {
    display: flex;
    flex-basis: 80%;
    margin: 1em;
    border: solid 2px blue;
    
}

.userCardOrder{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 4px 4px 20px rgb(165, 141, 88);
    transition: 0.5s;
    border-radius: 10px;
    
}

.userCardOrder:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
}

