.homeWelcome{
    display: flex;
    font-family: 'Sacramento', cursive;
    color: goldenrod;
    font-size: 50pt;
    /* font-weight: bolder; */
    justify-content:center;
    background: white;
    /* text-align: left; */

}

.homeImage{
    /* border: solid black; */
    width: 35%;
    Height: 40%
    
}

.homeTextHeader{
    display: flex;
    justify-content: center;
    background-color: white;
    color: rgb(80, 63, 52)

}

.d-block{
  
height: 410px;
width: 350px;

}

.homeText{
    color: black;
    display: flex;
    font-size: 15pt;
    font-weight: bold;
}

.homeTextTitle{
    color: black;
    font-size: 30pt;
    font-weight: bolder;
    /* justify-content: ; */
}