.groceryCard {
    display: flex;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid blue;
    
}

/* .weeklyMenuCard {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
}     */