.groceryCard {
    display: block;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid blue;
    flex-direction: row;

}

.groceryListTitle {
    display: flex;
    justify-content: center;
    font-family: 'Patrick Hand', cursive;
    font-weight: bolder;
}

.groceryInfo {
    font-family: 'Patrick Hand', cursive; 
}

.weeklyCard {
   
    width: 400px;
    
}